---
const personalImageAlt = "Foto de Dídac Gros";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Dídac Gros y desde que escribí mi primera línea en Java descubrí
      mi interés por el mundo de la programación. Actualmente, <strong
        >estoy cursando una ingeniería informática,
      </strong> complementándolo con <strong>aprendizaje autodidacta</strong>
      para seguir explorando y creciendo en esta disciplina.
    </p>

    <p>
      En el ciclo de DAM, adquirí una
      <strong>sólida base en programación con Java</strong>
      y desarrollé <strong>varias aplicaciónes con Kotlin.</strong>
      Hoy en día en la universidad estoy adquiriendo conocimientos de
      <strong
        >C++ hasta estructuras de datos y algoritmos, SQL con el SGBD de MySQL y
        PHP básico.</strong
      >
    </p>

    <p>
      En las prácticas de DAM, <strong> aprendí a trabajar con Flutter</strong> y
      desarrollé por mi cuenta una <strong
        >red social multiplataforma <a href="/#proyectos"> (ExitNow)</a></strong
      > con planes de lanzarla en el futuro. Además, mi interés por el desarrollo
      web me llevó a aprender <strong>HTML, CSS y JavaScript</strong>, lo que me
      permitió crear y publicar una <strong
        >página web hecha con React y Node.js <a href="/#proyectos">
          (Perfect Text)</a
        >.</strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
